@font-face {
    font-family: 'font2';
    src: url('PressStart2P-Regular.ttf') format('truetype');
    font-weight: 400;
  }

body {
    background-image: url('images/white.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'font2';
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.lolkek {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 20px;
    font-family: 'font2';
    color: white;
    border-radius: 12px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* горизонталь, вертикаль, размытие, цвет */
    transition: all 0.5 ease;
}

.lolkek:active {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    color: black;
    border-radius: 34px;
    background-color: blanchedalmond;
}
